<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Customer</title>

    <meta name="description" content="My Project Manager">
    <meta name="author" content="Iago Oliveira da Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ resources }}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ resources }}/css/admin.css" />
    <link rel="stylesheet" href="{{ resources }}/css/morris.css" />
    <link rel="stylesheet" href="{{ resources }}/css/datatables.min.css" />
    <link rel="stylesheet" href="{{ resources }}/css/font-icons/font-awesome/css/font-awesome.min.css" />


    <script src="{{ resources }}/js/jquery.min.js"></script>
    <script src="{{ resources }}/js/bootstrap.min.js"></script>
    <script src="{{ resources }}/js/raphael.min.js"></script>
    <script src="{{ resources }}/js/morris.min.js"></script>
    <script src="{{ resources }}/js/datatables.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ app.urlFor('Dashboard') }}">Customer</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ app.urlFor('Relationship-Dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ app.urlFor('AccessController-Customer-logout') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">

                <ul class="nav nav-sidebar">
                    <h5 class="list-group-item list-group-item-menu">Overview</h5>
                    <li><a href="{{ app.urlFor('Relationship-Dashboard') }}">Dashboard</a></li>
                </ul>


                <ul class="nav nav-sidebar">
                    <h5 class="list-group-item list-group-item-menu">Projects Module</h5>
                    <li><a href="{{ app.urlFor('Relationship-Projects') }}">Projects</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-md-9">

                {% block content %}
                {% endblock %}

            </div>
        </div>
    </div>
</body>

</html>