{% extends 'default/layout.twig' %}


{% block content %}

    <h2>Customers</h2>

    <hr>

    <div class="create-div">
        <a class="btn btn-md btn-info" href="{{ app.urlFor('Customers-Customer-Create') }}">Add Customer</a>
    </div>

    <div class="table-div">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Nickname</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>State</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for obj in list %}
                    <tr>
                        <td>{{ obj.getName() }}</td>
                        <td>{{ obj.getNickname() }}</td>
                        <td>{{ obj.getEmail() }}</td>
                        <td>{{ obj.getPhone() }}</td>
                        <td>{{ obj.getState() }}</td>
                        <td>
                            <a class="btn btn-info" href="{{ app.urlFor('Customers-Customer-Edit', {'id':obj.getId()}) }}">Edit</a>
                            <a class="btn btn-danger" href="{{ app.urlFor('Customers-Customer-Delete', {'id':obj.getId()}) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}