{% extends '@Default/layout.twig' %}


{% block content %}

    <h2><i class="fa fa-cubes right-padding-5"></i> Projects</h2>

	<div class="panel panel-white panel-animated">
		<div class="panel-body">
		
			<div class="panel-options">
		        <a class="btn btn-md btn-info" href="{{ app.urlFor('Projects-Project-Create') }}">
		        	<i class="fa fa-plus-circle right-padding-5"></i> Add Project
		        </a>
		    </div>
		
		    <table class="table" id="table">
		        <thead>
		            <tr>
		                <th>Name</th>
		                <th>Customer</th>
		                <th>Starting Date</th>
		                <th>Options</th>
		            </tr>
		        </thead>
		        <tbody>
		            {% for obj in list %}
		                <tr>
		                    <td>
		                        <a href="{{ app.urlFor('Projects-Products-List',{projectId:obj.getId()}) }}">
		                            {{ obj.getName() }}
		                        </a>
		                    </td>
		                    <td>{{ obj.getCustomer().getName() }}</td>
		                    <td>{{ obj.getStartingDate().format('m/d/Y') }}</td>
		                    <td>
		                        <a class="btn btn-info" href="{{ app.urlFor('Projects-Project-Edit', {'id':obj.getId()}) }}">Edit</a>
		                        <a class="btn btn-danger" href="{{ app.urlFor('Projects-Project-Delete', {'id':obj.getId()}) }}">Delete</a>
		                    </td>
		                </tr>
		            {% endfor %}
		        </tbody>
		    </table>
		</div>
	</div>
	


    <script type="text/javascript">
        jQuery( document ).ready( function( $ ) {
            var $table = jQuery( "#table" );
            $table.DataTable( {
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', {
                        extend: 'pdfHtml5',
                        title: 'List of Projects',
                        text: 'PDF'
                    }
                ]
            } );
        } );
    </script>
{% endblock %}