<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Project Manager</title>

    <meta name="description" content="My Project Manager">
    <meta name="author" content="Iago Oliveira da Silva">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ resources }}/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ resources }}/css/admin.css" />
    <link rel="stylesheet" href="{{ resources }}/css/morris.css" />
    <link rel="stylesheet" href="{{ resources }}/css/datatables.min.css" />
    <link rel="stylesheet" href="{{ resources }}/css/font-icons/font-awesome/css/font-awesome.min.css" />


    <script src="{{ resources }}/js/jquery.min.js"></script>
    <script src="{{ resources }}/js/bootstrap.min.js"></script>
    <script src="{{ resources }}/js/raphael.min.js"></script>
    <script src="{{ resources }}/js/morris.min.js"></script>
    <script src="{{ resources }}/js/datatables.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ app.urlFor('Dashboard') }}">Project Manager</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ app.urlFor('Dashboard') }}">Dashboard</a></li>
                    <li><a href="{{ app.urlFor('Settings') }}">Settings</a></li>
                    <li><a href="{{ app.urlFor('AccessController-logout') }}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3">

                <ul class="nav nav-sidebar">
                    <h5 class="list-group-item list-group-item-menu">Users Module</h5>
                    <li><a href="{{ app.urlFor('admin-users-list') }}">Users</a></li>
                </ul>


                <ul class="nav nav-sidebar">
                    <h5 class="list-group-item list-group-item-menu">Customers Module</h5>
                    <li><a href="{{ app.urlFor('Customers-Customer-List') }}">Customers</a></li>
                    <li><a href="{{ app.urlFor('Customers-User-List') }}">Customer Users</a></li>

                    <h5 class="list-group-item list-group-item-menu">Projects Module</h5>
                    <li><a href="{{ app.urlFor('Projects-Project-List') }}">Projects</a></li>
                    <li><a href="{{ app.urlFor('Projects-Allocation-Overview') }}">Allocation</a></li>
                    <li><a href="{{ app.urlFor('Projects-Products-Overview') }}">Products Overview</a></li>
                    
                </ul>

                <ul class="nav nav-sidebar">
                    <h5 class="list-group-item list-group-item-menu">Reports Module</h5>
                    <li><a href="{{ app.urlFor('Reports-Projects') }}">Project Reports</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-md-9">

                {% if error %}
                    <p class="alert alert-danger">
                        Unnable to process your action. Please try again.
                    </p>
                {% endif %}

                {% if success %}
                    <p class="alert alert-success">
                        Action proccessed.
                    </p>
                {% endif %}

                {% block content %}
                {% endblock %}

            </div>
        </div>
    </div>
</body>

</html>